.main-container {
  display: flex;
  height: 500px;
  border: 4px solid rgb(240, 128, 128);
}

.sub-container {
  display: flex;
}

.sub-container:first-child {
  border-right: 4px solid rgb(240, 128, 128);
  justify-content: center;
  align-items: end;
  padding: 5px;
}

.sub-container:last-child {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.shape {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 30px;
}

.shape > div {
  width: 6em;
  height: 1em;
  background-color: rgb(240, 128, 128);
}

.shape > div:last-child {
  width: 4em;
}
