<!-- *EX 2 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main-container">
      <header class="header">
        <div class="header-right">
          <div>Home</div>
          <div>Products</div>
          <div class="menu-item">
            Services
            <div class="dropdown">
              <div>Web Development</div>
              <div>Mobile Apps</div>
              <div>Digital Marketing</div>
              <div>Consulting</div>
              <div>Support</div>
            </div>
          </div>
          <div>About</div>
          <div>Contact</div>
        </div>
        <div class="header-left">
          <div>Account</div>
          <div>Cart (2)</div>
        </div>
      </header>
      <section class="mid-section">
        <div class="mid-block">
          <div class="title">Welcome to Our Website</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem veritatis optio ratione sunt dolorem, accusamus iusto animi. Error minus cumque
            laborum! Eum voluptates doloribus aliquam sequi modi earum voluptatum eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias
            obcaecati, quos quae esse asperiores quibusdam, perferendis repellat est debitis doloribus laboriosam unde modi sequi optio labore veniam quidem
            fugiat?
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
