body {
  background-color: rgb(220, 220, 220);
  color: rgb(75, 80, 158);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.shape-container {
  display: flex;
  gap: 10px;
  aspect-ratio: 2/1;
}

.left-shape {
  flex: 1;
  background-color: rgb(100, 149, 236);
}

.right-shape {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.right-shape > div {
  background-color: rgb(100, 149, 236);
  width: calc(50% - 5px);
  height: calc(50% - 5px);
}
